body {
    background-color: #1CA5B8;
}

.tile {
    width: 50px;    
    background-color: white;
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 30px;

}

#answerPanel {
    height: 50vh;
}

#wordPanel {
    text-align: center;
}
